* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  font-size: 14px;
  color: rgb(0, 0, 0);
}

ul {
  margin: 0 auto;
  max-width: 600px;
  list-style: none;
}

li {
  padding: 1rem;
  margin: 1rem;
  min-height: 100px;
}

button {
  border-radius: 0px;
  background: #bbded6;
  border: none;
  cursor: pointer;
  padding: 1rem;
}

span {
  display: block;
  padding: 1rem 0px;
}
